---
import NavBar from "../../components/NavBar.astro";
import CustomBadge from "../ui/CustomBadge.jsx";
import AnimatedCurvedText from "../../components/Hero/AnimatedCurvedText.jsx";
---

<section class="h-screen flex items-center justify-center">
  <div class="space-y-4 px-12 md:px-0">
    <CustomBadge>2024-25</CustomBadge>
    <div class="relative flex items-end">
      <h1 class="text-8xl md:text-9xl font-titulo font-bold leading-none">
        Portfolio
      </h1>
      <AnimatedCurvedText client:load />
    </div>
    <NavBar />
  </div>
</section>
