---

---

<section
  id="contact"
  class="flex flex-col justify-evenly mb-32 p-4 gap-y-32 md:justify-center md:gap-y-32 md:mb-16"
>
  <article class="flex flex-col items-center gap-y-8">
    <h3 class="text-green-1 font-semibold text-2xl">CONTACT</h3>
  </article>

  <article class="flex flex-wrap justify-evenly">
    <div class="p-4 w-9/12 md:w-[30%] md:flex md:items-center md:gap-x-4">
      <img class="m-auto md:m-0" src="images/email-icon.png" alt="" />

      <div class="">
        <h4 class="text-white-1 mb-2 text-2xl">Email</h4>
        <p class="text-white-1 mb-2 text-xl">Everytime, when you want.</p>
        <p class="text-green-1">adrianramirezgalera@gmail.com</p>
      </div>
    </div>

    <div class="p-4 w-9/12 md:w-[30%] md:flex md:items-center md:gap-x-4">
      <img class="m-auto md:m-0" src="images/others-contacts-icon.png" alt="" />

      <div class="">
        <h4 class="text-white-1 mb-2 text-2xl">Others</h4>
        <p class="text-white-1 mb-2 text-xl">Linkedin or github.</p>
        <p class="text-gray-3">
          In: <a class="text-green-1" href="https://linkedin.com/in/adrian-ramirez-galera">adrian-ramirez-galera</a>
        </p>
        <p class="text-gray-3">Git: <a class="text-green-1" href="https://github.com/AdrianRgGit">AdrianRgGit</a></p>
      </div>
    </div>
  </article>
</section>
