---
interface Props {
  description: string;
  href: string;
}

const { description, href } = Astro.props;
---

<a
  href={href}
  class="border border-gray-2 w-full flex gap-x-4 items-center rounded-l-lg"
>
  <div
    class="logo-container h-14 w-14 bg-gray-2 rounded-lg justify-center flex items-center text-white-1"
  >
    <span class="icon-slot"><slot name="icon" /></span>
  </div>
  <p class="description text-gray-3 text-lg font-semibold">
    {description.toUpperCase()}
  </p>
</a>

<style>
  a:hover .logo-container {
    background-color: #55e6a5;
  }

  a:hover .description {
    color: #55e6a5;
  }

  a:hover .icon-slot {
    transform: translateY(-3px);
    transition: transform 0.5s ease;
  }
</style>
