<header
  class="bg-gray-1 fixed top-0 left-0 h-full w-[15%] justify-center flex flex-col"
>
  <img src="images/logo.png" alt="adrian logo" />

  <nav class="text-white flex flex-col items-center justify-center gap-y-4">
    <a href="/">Home</a>
    <a href="/">About me</a>
    <a href="/">Service</a>
    <a href="/">Skills</a>
    <a href="/">Portfolio</a>
    <a href="/">Contact</a>
  </nav>
</header>
