---
import CustomButton from "./ui/CustomButton.astro";
---

<nav class="flex items-center justify-center gap-x-2">
  <CustomButton href="/#about-me">Conóceme</CustomButton>
  <CustomButton href="/#my-projects">Proyectos</CustomButton>
  <CustomButton href="/#my-professional-life">Mi vida profesional</CustomButton>
  <CustomButton href="/#contact">Contacta conmigo</CustomButton>
</nav>
