---
import CustomButton from "./ui/CustomButton.astro";
---

<nav class="flex items-center justify-center gap-x-2">
  <CustomButton href="/#conoceme">Conóceme</CustomButton>
  <CustomButton href="/#proyectos">Proyectos</CustomButton>
  <CustomButton href="/">Mi vida profesional</CustomButton>
  <CustomButton href="/">Contacta conmigo</CustomButton>
</nav>
