---
import CustomButton from "./ui/CustomButton/CustomButton";
---

<nav class="flex flex-wrap md:items-center md:justify-center gap-2 max-w-full">
  <CustomButton href="/#about-me">Conóceme</CustomButton>
  <CustomButton href="/#my-projects">Proyectos</CustomButton>
  <CustomButton href="/#my-professional-life">Mi vida profesional</CustomButton>
  <CustomButton href="/#contact">Contacta conmigo</CustomButton>
</nav>
