---
import CustomBadge from "../ui/CustomBadge";
---

<h3 class="text-2xl font-bold mb-2">Especialidades</h3>
<div class="flex flex-wrap gap-2 justify-center md:justify-start">
  <CustomBadge className="text-sm px-3 py-1">Identidad Visual</CustomBadge>
  <CustomBadge className="text-sm px-3 py-1">Diseño Web</CustomBadge>
  <CustomBadge className="text-sm px-3 py-1">Tipografía</CustomBadge>
  <CustomBadge className="text-sm px-3 py-1">Branding</CustomBadge>
  <CustomBadge className="text-sm px-3 py-1">UI/UX</CustomBadge>
  <CustomBadge className="text-sm px-3 py-1">Ilustración</CustomBadge>
  <CustomBadge className="text-sm px-3 py-1">Fotografía</CustomBadge>
  <CustomBadge className="text-sm px-3 py-1">Dirección Creativa</CustomBadge>
</div>
