---
import { Mail, MapPin } from "@lucide/astro";
import CustomButton from "../ui/CustomButton/CustomButton";
import TechnologiesWrapper from "./TechnologiesWrapper.astro";
import SpecialitiesWrapper from "./SpecialitiesWrapper.astro";
---

<section
  id="about-me"
  class="flex flex-col justify-center py-6 px-12 md:h-screen"
>
  <h2 class="text-6xl font-bold mb-12 text-center">Sobre mí</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-20 items-start">
    <div class="flex flex-col md:items-end lg:mr-12">
      <div
        class="relative flex items-center justify-center overflow-hidden pb-2"
      >
        <img
          src="/media/about-me/desktop/myself.webp"
          alt="imagen de Adrián"
          class="object-cover w-full h-auto mask-gradient"
        />
      </div>

      <div class="mt-4 flex flex-col md:items-end">
        <div class="flex items-center gap-x-1">
          <MapPin size={16} />
          <p>Valencia, España</p>
        </div>
        <div class="flex items-center gap-x-1">
          <Mail size={16} />
          <a href="mailto:adrianramirezgalera@gmail.com" class=""
            >adrianramirezgalera@gmail.com</a
          >
        </div>
      </div>
    </div>

    <div class="space-y-6 mt-6 md:mt-0">
      <article class="space-y-4">
        <h3 class="text-3xl font-bold mb-2">Desarrollador y Diseñador Web</h3>
        <p class="text-font-gray">
          ¡Hola! Mi nombre es Adrián, soy un apasionado del desarrollo y diseño
          web con un enfoque especial en la creación de experiencias digitales.
        </p>
        <p class="text-font-gray">
          Con más de 2 años de experiencia como desarrollador web, he trabajado
          en multitud de proyectos totalmente diferentes, como apliaciones web,
          landing pages, e-commerce, blogs, etc. Mi punto fuerte es la
          versatilidad y constancia, lo que me permite adaptarme a diferentes
          entornos y proyectos.
        </p>
        <p class="text-font-gray">
          Creo firmemente que el buen diseño no solo debe verse bien, sino
          también comunicar de manera efectiva y generar una conexión con el
          usuario final.
        </p>
      </article>

      <article class="space-y-4 grid grid-cols-1 md:grid-cols-2 gap-x-8">
        <div>
          <h3 class="text-2xl font-bold mb-2">Tecnologías</h3>
          <TechnologiesWrapper />
        </div>

        <div>
          <h3 class="text-2xl font-bold mb-2">Enfoque</h3>
          <SpecialitiesWrapper />
        </div>
      </article>

      <article class="space-y-4">
        <h3 class="text-2xl font-bold mb-2">Filosofía</h3>
        <blockquote
          class="border-l-4 border-theme-gray pl-4 italic text-font-gray"
        >
          "Diseñar y desarrollar no es solo crear, es entender al usuario y
          construir algo que realmente funcione y emocione."
        </blockquote>
      </article>

      <div class="mt-10">
        <CustomButton href="/#my-projects"> Ver mi trabajo </CustomButton>
      </div>
    </div>
  </div>
</section>
