<section
  id="about-me"
  class="flex flex-col justify-evenly md:justify-center p-4 md:p-0 gap-y-8 mb-32"
>
  <article class="flex flex-col items-center gap-y-8">
    <h3 class="text-green-1 font-semibold text-2xl">ABOUT ME</h3>
    <h3 class="text-white-1 text-4xl font-bold text-center">
      Building experiences through code and passion
    </h3>
  </article>

  <article
    class="flex flex-col gap-8 md:flex-row md:justify-evenly md:flex-wrap"
  >
    <div class="md:w-2/6">
      <img class="m-auto" src="images/ray.png" alt="" />
      <h4 class="text-white-1 font-semibold">My ambition</h4>
      <p class="text-gray-3">
        As a junior Full Stack developer, my ambition is to become a versatile
        web development expert. I'm in the early stages of building strong
        skills in Front-End (working with React and Angular) and Back-End
        (gaining experience with Node.js and Express). While I began my career
        in Industrial Robotics, this journey allowed me to discover my passion
        for web development and make a transition into this field.
      </p>
    </div>

    <div class="md:w-2/6">
      <img class="m-auto" src="images/trophy.png" alt="" />
      <h4 class="text-white-1 font-semibold">My purpose</h4>
      <p class="text-gray-3">
        My commitment to continuous improvement constantly motivates me to
        expand my knowledge and contribute meaningfully to the web development
        industry. I see myself as a problem solver, which has been evident in
        facing challenges such as industrial process automation and digitization
        to eliminate paper-based workflows.
      </p>
    </div>

    <div class="" style="order: 2">
      <img src="images/avatar.png" alt="avatar" />
      <div
        class="h-24 bg-green-1 flex py-4 justify-center gap-x-4 items-center"
      >
        <img class="bg-white-1 rounded-lg" src="images/award.png" alt="award" />

        <div class="flex flex-col font-bold text-black-1 text-xl">
          <h4>1 +<p>Years of experience</p></h4>
        </div>
      </div>
    </div>
  </article>
</section>
