---
import { Mail, MapPin } from "@lucide/astro";
import CustomButton from "../ui/CustomButton.astro";
import SpecialitiesWrapper from "../common/SpecialitiesWrapper.astro";
---

<section id="about-me" class="h-screen flex flex-col justify-center py-6 px-12">
  <h2 class="text-6xl font-titulo font-bold mb-12 text-center">Sobre mí</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-20 items-start">
    <div class="flex flex-col items-center justify-start md:items-end">
      <div class="flex items-center justify-center overflow-hidden">
        <img
          src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=facearea&w=400&h=400&facepad=2"
          alt="imagen de Adrián"
          class="object-cover"
        />
      </div>

      <div class="mt-4 flex flex-col items-end">
        <div class="flex items-center gap-x-1">
          <MapPin size={16} />
          <p class="">Valencia, España</p>
        </div>
        <div class="flex items-center gap-x-1">
          <Mail size={16} />
          <a href="mailto:adrianramirezgalera@gmail.com" class=""
            >adrianramirezgalera@gmail.com</a
          >
        </div>
      </div>
    </div>

    <div class="space-y-10">
      <article class="space-y-4">
        <h3 class="text-3xl font-bold mb-2">Desarrollador y Diseñador Web</h3>
        <p class="text-font-gray">
          ¡Hola! Soy un apasionado desarrollador y diseñador web con un enfoque
          en la creatividad y la experiencia del usuario.
        </p>
        <p class="text-font-gray">
          Con más de 5 años de experiencia en la industria, he trabajado en
          proyectos que van desde pequeñas startups hasta grandes empresas,
          siempre buscando crear soluciones digitales que no solo sean
          funcionales, sino también visualmente atractivas y fáciles de usar.
        </p>
        <p class="text-font-gray">
          Creo firmemente que el buen diseño no solo debe verse bien, sino
          también comunicar de manera efectiva y generar una conexión emocional
          auténtica.
        </p>
      </article>

      <article class="space-y-4">
        <SpecialitiesWrapper />
      </article>

      <article class="space-y-4">
        <h3 class="text-2xl font-bold mb-2">Filosofía</h3>
        <blockquote
          class="border-l-4 border-theme-gray pl-4 italic text-font-gray"
        >
          "La simplicidad es la máxima sofisticación. Cada elemento debe tener
          un propósito, cada decisión debe estar justificada."
        </blockquote>
      </article>

      <div class="mt-10">
        <CustomButton href="/#my-projects"> Ver mi trabajo </CustomButton>
      </div>
    </div>
  </div>
</section>
