---
import CustomBadge from "../ui/CustomBadge";
---

<div class="flex flex-wrap gap-2 justify-center md:justify-start">
  <CustomBadge>UX/UI</CustomBadge>
  <CustomBadge>Diseño</CustomBadge>
  <CustomBadge>Atención al detalle</CustomBadge>
  <CustomBadge>Comunicación</CustomBadge>
  <CustomBadge>Versatilidad</CustomBadge>
  <CustomBadge>Trabajo en equipo</CustomBadge>
</div>
