---
import CustomBadge from "../ui/CustomBadge";
---

<div class="flex flex-wrap gap-2 justify-center md:justify-start">
  <CustomBadge>JavaScript / TypeScript</CustomBadge>
  <CustomBadge>TailwindCss</CustomBadge>
  <CustomBadge>Css</CustomBadge>
  <CustomBadge>AstroJS</CustomBadge>
  <CustomBadge>React</CustomBadge>
  <CustomBadge>React Native</CustomBadge>
  <CustomBadge>NextJS</CustomBadge>
</div>
